/* --------reset-------- */
*{box-sizing:border-box;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
html{zoom: expression(function(ele){ ele.style.zoom="1";document.execCommand("BackgroundImageCache", false, true);}(this));}/*ie6,鼠标放上去背景(切换)图片不闪烁*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,button,p,blockquote,th,td{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
input,select,textarea,button{font-size:100%;font-family:"Open Sans","Microsoft YaHei",STXihei,Monaco,Arial,sans-serif;}
textarea{resize:none;}
fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6,legend{font-size:100%;font-weight:400;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
/* --------base-------- */
body{font-size:12px;font-family:"Open Sans","PingHei","Microsoft YaHei","STXihei","Monaco","Arial","sans-serif";line-height:1;color:#1a1a1a;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h1,h2,h3{margin:1em 0;}
h1,h2,h3,h4,h5,h6,strong,caption,th{font-weight:700;}
abbr,acronym{border-bottom:1px dotted #aaa;cursor:help;}
em{font-style:italic;}
label[for]{cursor:pointer;}
input[type="radio"],input[type="checkbox"]{margin-right:2px;}
/*th,td {border:1px solid #aaa;padding:8px 5px 6px;}*/
p,fieldset{margin-bottom:1em;}
legend{margin-left: 7px;+margin:0;}
button{border:0;background:none;cursor:pointer;}
.clearfix:after{content:"\20";display:block;height:0;clear:both;}
.clearfix{zoom:1;}
.red{color:#F00;}
.black{color:#000;}
.white{color:#FFF;}
.blue{color:#00F;}
.green{color:#008000;}
.brown{color #A52A2A;}
.gray{color:#ccc;}
/* ---------------- */
a{cursor:pointer;text-decoration:none;star:expression(onfocus=this.blur);}
a,button{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
.cb:after,.cb_li>li:after,.cb_a>a:after{content:"\20";display:block;width:0;height:0;clear:both;}
.cb,.cb_li>li,.cb_a>a{zoom:1;}
.ofH{overflow:hidden;}
.clear{width:0;height:0;clear:both;overflow:hidden;}
.mc{margin-left:auto;margin-right:auto;}
.taL{text-align:left;}
.taC{text-align:center;}
.taR{text-align:right;}
.textCut,.textCut_E>*,.textCut_EE *{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.bod{ border:1px solid red;}
.fL,.fL_E>*{float:left;}
.fR,.fR_E>*{float:right;}
.vaT,.vaT_E>*,.vaT_EE *{vertical-align:top;}
.vaM,.vaM_E>*,.vaM_EE *{vertical-align:middle;}
.dpB{display:block;}
.dpB-im{display:block !important;}
.dpN{display:none;}
.dpI{display:inline;}
.dpIB{display:inline-block;}
.dpT{display:table;}
.dpTC{display:table-cell;}
.b{font-weight:700;}
.fsI{font-style:italic;}

.noSelect{-webkit-user-select:none;user-select:none;}
.tra,.tra_E>*,.tra_EE *{transition:.5s ease-in-out;}
.tra-fast,.tra-fast_E>*,.tra-fast_EE *{transition:.2s ease-in-out;}
.boxR,.boxR_E>*,.boxR_EE *{border-radius:5px;}

/*other fix*/
embed[type="application/xl_chrome_plugin"]{display:none;}
